<ion-list>
  <ion-item *ngFor="let product of products" lines="full" (click)="onItemClick(product)">
    <ion-label>
      <h2>{{ product.name }}</h2>  
      <p>{{ product.location }}</p> 
      <p>Status: {{ product.state === 'prestado' ? 'prestado' : 'sin prestar' }}</p> 
      <p>{{ '$' + product.price }}</p> 
    </ion-label>
    <app-button
    *ngIf="product.state !== 'prestado'" 
    (click)="onItemClick(product  )"
    label="Request Loan"
    color="primary"
    expand="full"
    shape="round"
    fill="solid"
  ></app-button>
  </ion-item>
  
</ion-list>
  <ion-item [button]="isClickable" lines="full">
    <ion-label>{{ label }}</ion-label>
  </ion-item>
